@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --green: hsl(163, 72%, 41%);
  --red: hsl(356, 69%, 56%);

  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --insta-1: hsl(37, 97%, 70%);
  --insta-2: hsl(329, 70%, 58%);
  --youtube: hsl(348, 97%, 39%);

  /* DARK THEME */

  --toggle-1: hsl(210, 78%, 56%);
  --toggle-2: hsl(146, 68%, 55%);

  --dark-blue-bg: hsl(230, 17%, 14%);
  --dark-blue-top-bg: hsl(232, 19%, 15%);
  --dark-blue-card-bg: hsl(228, 28%, 20%);
  --desatured-blue-text: hsl(228, 34%, 66%);
  --dark-blue-hover: hsl(228, 26%, 27%);  
}


* {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, var(--dark-blue-bg) 70%, var(--dark-blue-top-bg) 30%);
  padding: 0 130px;
  padding-bottom: 100px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.card {
  background-color: var(--dark-blue-card-bg);
  border-radius: 8px;
}

.card:hover {
  background:var(--dark-blue-hover);
}

.card_container {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));;*/
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}

/* TOP */

.top_container_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.top_title h1 {
  color: var(--white);
  margin-bottom: 5px;
}

.top_title span {
  color: var(--desatured-blue-text);
}

.toggle_dark_mode {
  display: flex;
  align-items: center;
}

.toggle span {
  color: var(--desatured-blue-text);
}

.line {
  display: none;
}

/* SWITCH */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin-left: 15px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient( var(--toggle-1), var(--toggle-2));
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 2px;
  background-color: var(--dark-blue-top-bg);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: var(--toggle-light);
  
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--toggle-light);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  background-color: var(--white);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* TOP CARDS */

.card_top {
  text-align: center;
}

.card_top {
  border-top: 5px solid var(--dark-blue-card-bg);
  position:relative;
}

.card_top:hover {
  border-top: 5px solid var(--dark-blue-hover);
}

.card_top:before {
  content:'';
  position:absolute;
  width:100%;
  height:5px;
  background:linear-gradient(to left, var(--insta-1), var(--insta-2));
  top:-5px;
  left:0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fb:before {
  background: var(--facebook);
}

.tt:before {
  background: var(--twitter);
}

.youtube::before {
  background: var(--youtube);
}

.card_top a {
  color: var(--white);
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  font-size: 14px;
}

.card_top a img {
  margin-right: 8px;
}

.card_top h1 {
  color: var(--white);
  font-size: 60px;
  margin-top: 20px;
}

.card_top h2 {
  font-size: 17px;
  letter-spacing: 3px;
  color: var(--desatured-blue-text);
  font-weight: 400;
}

.card_top span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin: 20px 0;
}

.card_top span img {
  margin-right: 5px;
}

/* CARD BOTTOM */

.bottom_container h2 {
  margin: 50px 0;
  font-size: 30px;
  color: var(--white);
}

.card_bottom {
  padding: 30px 25px;
}

.card_bottom span:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--desatured-blue-text);
}

.card_bottom .bottom_grid_text {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 25px;
}

.card_bottom .bottom_grid_text h3 {
  color: var(--white);
  font-size: 30px;
}

.card_bottom .bottom_grid_text span {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.card_bottom .bottom_grid_text span img {
  margin-right: 5px;
}

.challenge {
  text-align: center;
  background-color: var(--dark-blue-bg);
  padding-bottom: 20px;
  color: var(--white);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.challenge a {
  background: -webkit-linear-gradient(var(--toggle-1), var(--toggle-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1300px) {
  .card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));;
    gap: 2rem;
  }
}

@media (max-width: 800px) {
  section {
    padding: 20px 30px;
  }

  .top_container_text {
    padding: 0;
    margin-bottom: 20px;
    flex-direction: column;
  }

  .top_title {
    text-align: left;
    width: 100%;
  }

  .line {
    display: block;
    width: 100%;
    height: 1px;
    background: var(--dark-blue-hover);
    margin: 15px 0;
  }

  .toggle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }

  .challenge {
    font-size: 14px;
  }
}
